$body-bg: #fff;
$body-bg-dark: #1b1f22;
$theme-colors: (
  "primary": #5044de,
  "secondary": #aeb2b6,
  "success": #59a369,
  "info": #3166b6,
  "warning": #da4c0f,
  "danger": #903286,
  "dark": #212529,
  "light": #f8f6ff,
  "body-bg": #fff,
  // Bootstrap extended colors
  "gray": #484848,
  "grey": #696969,
  "blue": $blue,
  "indigo":$indigo,
  "purple":$purple,
  "pink":$pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green":$green,
  "teal": $teal,
  "cyan":$cyan,
  // Custom colors
  "codeworks": #141d2b,
  "vue": #42b883,
);